# ==============================================================================
# CONFIGURATION GLOBALE
# ==============================================================================
# Mode developpeur (true/false)
DEV=true

# ==============================================================================
# APPLICATION
# ==============================================================================
# URL du frontend autorisé pour le CORS
HOST=http://localhost:4200

# ==============================================================================
#  BASE DE DONNÉES (PostgreSQL)
# ==============================================================================
DB_HOST=db
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=example